* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    box-sizing: border-box;
    text-decoration: none;
}

.content_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.content_title_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    background-color: #0000009e;
    font-size: 28px;
    color: white;
    margin-bottom: 5px;
    border-radius: 4px;
    width: 40%;
}

.content_login_form {
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
    max-width: 560px;
}

.title_form_log {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 20px;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
    color: white;
    background-color: #0000009e;
    padding: 5px 10px;
    border-radius: 4px;
}

.content_login_form form {
    width: 100%;
}

.content_input_login {
    width: 100%;
    margin: 20px 0px;
}

.content_input_login input {
    width: 100%;
    padding: 8px 5px;
    outline: none;
    border: 1px solid #bebebe;
    transition: all 0.2s ease-in-out;
    background-color: #ededed;
    border-radius: 4px;
}

.content_input_login input:focus {
    border: 1px solid #999999;
}

.content_btns_login {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px;
}

.content_btns_login a {
    display: block;
    width: 200px;
    transition: all 0.2s ease-in-out;
    padding: 8px 16px;
    color: #fff;
    background-color: #0000009d;
    text-align: center;
    border-radius: 4px;
}

.content_btns_login a:hover {
    background-color: #000000;
}

.content_btns_login input {
    display: block;
    width: 200px;
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: #3f51f39c;
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.content_btns_login input:hover {
    background-color: #3342c7;
}

.header-home {
    width: 33% !important;
    display: inline-block !important;
    font-size: 1.75rem;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #0000009e;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1 px solid transparent;
    padding: 0.375 rem 0.75 rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25 rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: #3342c7;
    padding: 6px 12px;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

.flex_basic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout_user {
    display: flex;
    background-color: #920909;
    padding: 6px 12px;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    color: #fff;
    border-radius: 4px;
    width: 100%;
}

.logout_user:hover {
    background-color: #c40d0d;
}

.tabla {
    width: calc(100% - 40px);
    margin-top: 40px;
}

.tabla tr:nth-child(odd) {
    text-align: center;
    color: #000;
}

.tabla tr td {
    text-align: center;
    color: #000;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #52FC3B;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}

tbody tr {
    background-image: url(noise.png);
}

table {
    background-color: #ff33cc;
}


/* .tabla tr:nth-child(even) {
    background-color: #F1F1F1;
}

.tabla tr:nth-child(odd) {
    background-color: #FFFFFF;
} */

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #0000009e;
    font-size: 28px;
    color: white;
    border-radius: 4px;
}

.new-name {
    padding: 5px 10px;
    background-color: #0000009e;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
}

.btn2 {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    background-color: #3342c7;
    border-color: #3342c7;
    color: white;
    padding: 4px 7px;
    border-radius: 4px;
    text-align: center;
    border: none !important;
    cursor: pointer;
}

.btn2:hover {
    background-color: #3342c7a6;
}

button {
    display: inline-block;
    font-size: 15px;
    background-color: #3342c7;
    border-color: #3342c7;
    color: white !important;
    padding: 4px 7px;
    border-radius: 4px;
    text-align: center;
    border: none !important;
    cursor: pointer;
}

button:hover {
    background-color: #3342c7a6;
}

.error {
    text-align: center;
    color: #fff;
    background-color: #0000009e !important;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    width: 40%;
}